<li>
      <div class="bs-docs-example-popover" >
        <div class="popover">
          <h3 class="popover-title"><%= message.sender.name %>
            <span class="created_at"><%= message.created_at.strftime("%H:%M") %></span>
          </h3>
          <div class="popover-content"><span><%= message.content %></span></div>
        </div>
      </div>
</li>
