<span class="small_gray">性别：</span><span style="color: red"><%= user.profile.sex%></span><span style="color: #999">/</span>
<span class="small_gray">家乡：</span><%= user.profile.hometown%><span style="color: #999">/</span>
<span class="small_gray">现居地：</span><%= user.profile.location%><span style="color: #999">/</span>
<span class="small_gray">兴趣：</span><%= user.profile.hobby%>
