<span class="small_gray">时间：</span><%= invitation.time %></br>
<span class="small_gray">地点：</span><%= invitation.location %></br>
<span class="small_gray">费用：</span></br>
<span class="small_gray">活动: </span></br>
<span class="small_gray">发起者：</span><%= link_to initiate_group.name, group_path(initiate_group) %></br>
