<% cities = ['全国','北京','上海','长沙','西安','武汉','杭州',
             '南京','成都','厦门','广州','深圳'] %>
<% for city in cities %>
  <!--
    <li><%= link_to city, :controller => "groups", :action => "index",:city => city%></li>
  -->
  <li><a href="#" class="cities"><%= city%></a></li>
<% end %>
<script>
$('.cities').click(function(){
  $('#city_value').val($(this).text());
  $('#groups_btn_submit').click();
});
</script>
