<% private_messages.each do |private_message_original| %>
  <% private_message = private_message_original.applied_messages[0] %>
  <div class="row">
    <div class="divider-horizontal span9"></div>
    <div class="span2 message-left">
    </div>

    <div class="span7 message-right">
      <div class="message-right-top">
        <span><%= private_message.sender.name %>:</span>
        <%= private_message.content %>
      </div>

      <div class="message-right-bottom">
        <span class="message-created-time">
          <%= private_message.created_at.strftime("%Y-%m-%d %H:%M") %>
        </span>
        <span class="message-detail">
          共<%= private_message_original.applied_messages.count + 1 %>条私信 | 
          <a href="#">快速回复</a>
        </span>
      </div>
    </div>
  </div>
<% end %>
