<script type="text/javascript">
function displayInputArea(){
  $('.description').html("还能输入<span class=\"wordsOffset\">200</span>个字<button class=\"pull-right\">提交</button><textarea  id=\"description\" row=\"3\" class=\"span7\"  onkeyup=\"discountWordNum()\" onmouseup=\"discountWordNum()\"></textarea>");
}

function discountWordNum(){
  var str = $('#description').val();
  //	alert(str.length);
  $('.wordsOffset').html(200 - str.length) ;
}

$(function(){
  applied_action_process();
});
</script>

<script>
	$('.members ul li').tooltip({
      selector: "a[rel=tooltip]"})
</script>

<script>
$(function(){
  $('.container').masonry({
    itemSelector : '.item',
    columnWidth : 235
  });
});
</script>
<script>
  function applied_action_process(){
    $("div.item").children(".actions").hide();
    $("div.item").mouseout(function(){
      $(this).children(".actions").hide();
    });
    $("div.item").mouseover(function(){
      $(this).children(".actions").show();
    });
  }
</script>
