<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>校园爱情</title>
<link href="../bootstrap/css/log.css" rel="stylesheet" type="text/css">
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

</head>
<body>
	<div class="login-top">
		<div class="logo">校园爱情</div>
	</div>
	<div class="container">
		<div class="other-login">
			<div class="rr-login">
				<img src="../img/renrenlogin.png" />
			</div>
			
			<div class="sina-login">
				<img src="../img/weibologin.png" />
			</div>
			
			
		</div>
		<div style="margin-left: 145px;margin-top:50px;">
			<img src="file:///home/ykl/ljm/GroupLover_v6/img/dividing%20_line.png" alt="" />
		</div>
		<div class="login-main">
			    		<input type="text" id="inputEmail" placeholder="Email" style="width:220px;margin-left:360px;margin-top:50px;margin-bottom:10px;height:30px;">
			    		<input type="password" id="inputPassword" placeholder="Password" style="width:220px;margin-left:360px;height:30px;">
			    		<label class="checkbox" style="margin-left:360px;">
			    			<input type="checkbox"> 记住我
			   		  </label>
			    		<button type="submit" class="btn" style="margin-left:360px;display:inline">登录</button>
			    		<span style="margin-left:100px"><a href="#">忘记密码？</a></span>
		</div>

	</div>
</body>
