<%= render 'users/show_head' %>
<div class="container">
  <%= render 'shared/header' %> 
  <div id="personalpage" class="container">
    <%= render 'received_invitation'%>
  </div><!-- personalpage -->
</div><!-- container -->

<script>
$(function(){
  applied_action_process();
});
function applied_action_process(){
  $("div.item").children(".actions").hide();
  $("div.item").mouseout(function(){
    $(this).children(".actions").hide();
  });
  $("div.item").mouseover(function(){
    $(this).children(".actions").show();
  });
}
</script>

<script>
$('.members ul a').tooltip();
</script>
<script>
var $container = $('.applied_group_inner');
$container.imagesLoaded(function(){
    $container.masonry({
      itemSelector : '.item',
      columnWidth : 234
    });
});
</script>

