<%= render 'users/show_head' %>
<div class="container">
  <%= render 'shared/header' %> 
  <div id="personalpage" class="container">
    <%= render 'invitation', :invitations => @my_invitations %>
  </div><!-- personalpage -->
</div><!-- container -->
<%= render 'users/show_foot' %>
