<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style", "bootstrap_and_overrides", "homepage", "bootswatch", "private_messages" %>
<% end %>
<div class="container">
  <div class="row">
    <div class="span9" id="private_messages_abstract">
    <h4>我的私信</h4>
    <%= link_to '将所有私信标为已读', private_messages_change_status_path, :remote => true, :class => "pull-right" %>
    <%= render 'private_message', :private_messages => @private_messages_original %>
    </div>

    <div class="span3">
    </div>
  </div>
</div><!-- container -->
<%= render 'users/show_foot' %>
