<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<ul>
  <li><%= link_to "绑定Douban", user_omniauth_authorize_path(:douban) %> </li>
  <li><%= link_to "绑定Weibo", user_omniauth_authorize_path(:weibo) %> </li>
</ul>

