<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style", "bootstrap_and_overrides", "homepage", "bootswatch", "chosen" %>
<% end %>
<div class="container">
  <%= render 'shared/header' %> 
  <div id="personalpage" class="container">
    <%= render 'pending_request', :pending_requests => @pending_requests %>
  </div><!-- personalpage -->
</div><!-- container -->
<%= render 'users/show_foot' %>
