<%= render 'users/show_head' %>
<div class="container">
  <%= render 'shared/header' %> 
  <div id="personalpage" class="container">
    <%= render 'pending_request', :pending_requests => @pending_requests %>
  </div><!-- personalpage -->
</div><!-- container -->
<%= render 'users/show_foot' %>
