<%= render 'show_head' %>
<div class="container">
  <%= render 'shared/header' %> 
  <div id="personalpage" class="container">

    <%
        debugger
        if @user != current_user
          @user.extra_info.add(current_user)
        end
    %>
    <%= render 'invitation', :invitations => @following_invitations %>

  </div><!-- personalpage -->
</div><!-- container -->
<%= render 'show_foot' %>
