<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style", "bootstrap_and_overrides", "homepage", "bootswatch", "chosen" %>
<% end %>
<%
    tips = current_user.tips.select_tips_by_tip_type("group_invitationship_create")
    tips = tips | current_user.tips.select_tips_by_tip_type("target_group_groupship")
    tips.each do |tip|
      tip.destroy
    end
%>
<div class="container">
  <%= render 'shared/header' %>
  <div id="personalpage" class="container">
    <%= render 'received_invitation'%>
  </div><!-- personalpage -->
</div><!-- container -->

<script>
$(function(){
  applied_action_process();
});
function applied_action_process(){
  $("div.item").children(".actions").hide();
  $("div.item").mouseout(function(){
    $(this).children(".actions").hide();
  });
  $("div.item").mouseover(function(){
    $(this).children(".actions").show();
  });
}
</script>

<script>
$('.members ul a').tooltip();
</script>
<script>
var $container = $('.applied_group_inner');
$container.imagesLoaded(function(){
    $container.masonry({
      itemSelector : '.item',
      columnWidth : 234
    });
});
</script>

