<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style", "bootstrap_and_overrides","bootswatch", "homepage" %>
<% end %>

<% provide(:label,@label) %>

<div class="container">
  <%= render 'shared/header' %>
  <% if @users.size != 0 %>
    <%= render 'show_user' %>
  <% else %>
    <div  style="margin-left: 392px;margin-top: 80px;">
      <%= image_tag('PeopleIcon156.png') %>
      <p style="margin-left: -40px;font-size: 24px;color: #CCC">这个圈子还没有朋友哦</p>
    </div>
  <% end %>
</div>
<script>
$(function(){
  $(".send_private_message").click(function() {
    $('#private_message_receiver_id').val($(this).attr('receiver_id'));
    $('#send_message_modal').modal('show');
  });
});
</script>
