<div class="actions">
  <%= link_to({:controller => "group_groupships", :action => "destroy",
                       :group_groupship => group_ship},
                       :class => "btn join_link", :confirm =>"确定忽略该邀请吗？") do%>
      <i class="icon-heart"></i>忽略
   <% end %>
</div>	
