<div class="actions">
  <%= link_to({:controller => "group_groupships", :action => "accept",
                       :group_groupship => group_ship},
                       :class => "btn join_link", :confirm =>"确定接受该邀请吗？") do%>
      <i class="icon-heart"></i>接受
   <% end %>
</div>	
