<div class="actions">
  <%= link_to({:controller => "group_invitationships", :action => "accept", 
               :group_invitationship => invitation_ship },
               :class => "btn join_link", :confirm =>"接受该回帖后将会删除其他的回帖哦") do%>
      <i class="icon-heart"></i>接受
   <% end %>
</div>	
