<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "bootstrap_and_overrides", "style", "homepage" %>
<% end %>
<div class="container">
  <h3 style="text-align: center">爱组局网简介及使用说明</h3>
  <h4 style="color: #ff0000">简介</h4>
  <p>爱组局，国内首家专注于群组（2～4人）约会的社交网站。
     每个人可以和自己的好友组建成群组，进而与其他群组进行约会。</p>
  <h4 style="color: #ff0000">怎么玩？</h4>
  <p>爱组局最核心的功能就是创建群组以及创建活动了，下面分别做简要说明：</p>
  <p>
  1.<span class="bold_font">创建群组</span>。由于爱组局是以群组为单位（即发布/申请活动以及邀请群组都是以群组的名义），所以登录用户首先须建立起
     群组（点击子导航栏中的“群组”），需要注意的是，用户只能选择自己的好友加入群组（好友即是你关注了TA，TA同时也关注了你）。每个群组
     限制2~4人。每个群组建立之后都处于“尚未激活”状态，只有当所有被邀请成员都同意加入该群组后，才处于“激活状态”。
  </p>
  <p>
  2.<span class="bold_font">创建/申请参加活动</span>。群组激活之后，就可以创建活动或者申请参与已发布活动或者直接向想与之约会的群组发出邀请了。同样，
       其他的群组也能向你所在的已激活群组发起约会请求。
  </p>
  <p>
  3.<span class="bold_font">聊天室</span>。当群组激活之后，系统会自动为该群组建立聊天室，聊天室人员包括该群组的所有成员；同样，当活动激活之后（活动发布者
  接受了某个活动申请者的请求），系统也会自动为该活动建立聊天室，聊天室人员包括两个群组的所有成员。有一点需要注意的是，只有当打开聊天室页面时，才能实时的收到
  消息提醒（就好比QQ一样，只有当登录之后，才能接收消息），但消息记录都一直会保存，直到群组解散或者活动过期。
  </p>

  <h4 style="color: #ff0000">几点限制</h4>
  <p>
  1.每个群组的成员人数必须在2～4人之间。
  </p>
  <p>
  2.群组创建者只能邀请自己的好友加入群组。
  </p>
  <p>
  3.只有当群组处于闲置状态（没有发布活动或者申请参加活动或者收到群组的邀请）时，才能编辑（比如增加新成员）。
  </p>
  <p>
  4.每个群组只能发布一周之内的活动。
  </p>
  <p>
  5.某群组发布的活动收到的所有申请，该群组所有成员都能看到，但只有创建人才有权限处理这些申请（接受或者拒绝）。
  </p>
</div>
