<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "bootstrap_and_overrides", "style", "homepage" %>
<% end %>
<div class="container" style="margin-bottom:10px;z-index: 1034;margin-top: -30px;">
  <!--
  <a href="#" class="btn btn-large btn-danger" data-toggle="popover" data-placement="bottom"
     data-content="爱组局是一专注于群组对群组（2～4人）约会的社交网站， 每个人可以和自己的好友组建成群组，进而与其他群组进行约会，等待就是浪费青春， 赶快加入我们吧" title="爱组局" style="margin-left: 410px;">
    网站简介
  </a>
  -->
</div>
<div class="container" id="container">
  <%= render 'users/invitation', :invitations => @invitations %>
  <%= render 'groups/group', :groups => @groups %>
</div>
<%= render 'users/show_foot' %>

<script>
 function sleep(d){
   for (var t = Date.now(); Date.now() - t <= d;);
 }
</script>
<script type="text/javascript">

$(function(){
  var $container = $('#container');
  $container.imagesLoaded(function(){
    $container.masonry({
      // options
      itemSelector : '.item',
      columnWidth : 235
    });
  });
  $container.infinitescroll({
    navSelector : '#page-nav',
    nextSelector : 'li.next_page a:first',
    itemSelector : '.item',
    loading: {
      selector: '#loading_div',
      msgText: "正在加载中...",
      finishedMsg: '没有更多页面了',
      img: '/6RMhx.gif'
    }
  },
  function(newElements){
    var $newElems = $( newElements ).css({ opacity: 0 });
    $newElems.imagesLoaded(function(){
      // show elems now they're ready
      $newElems.animate({ opacity: 1 });
      $container.masonry( 'appended', $newElems, true ); 
    });
    applied_action_process();
  });
});

jQuery(document).ajaxError(function(e,xhr,opt){
  if (xhr.status == 404) jQuery('#').remove();
  });
</script>
<script type="text/javascript">

$(document).ready(function(){
  applied_action_process();
});
</script>
<script>
	$('.members ul li').tooltip({
      selector: "a[rel=tooltip]"})
</script>
<script>
  function applied_action_process(){
    $("div.item").children(".actions").hide();
    $("div.item").mouseout(function(){
      $(this).children(".actions").hide();
    });
    $("div.item").mouseover(function(){
      $(this).children(".actions").show();
    });
  }
</script>
<script>
$(function(){
    $("a[data-toggle=popover]")
      .popover()
      .click(function(e) {
        e.preventDefault()
  })
});

</script>
