<div class="photo" id="photo_<%=photo.id%>">
  <%= link_to image_tag(photo.image_url(:thumb)), photo_path(photo)  if photo.image? %>
  <div class="name"><%= photo.name %></div>
  <div class="photo_actions">
    <%= link_to "删除", photo, :confirm => '确定删除?', 
                        :method => :delete, :remote => true %>
  </div>
</div>
