// Place all the styles related to the private_messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message-right-top{
  margin-bottom: 15px;
}

.message-created-time{
  float: left;
}

.message-detail{
  float: right;
}

.message{
  margin-bottom: 15px;
}
