<ul class="nav">
  <li class="active">
    <%= link_to "首页" , root_path %>
  </li>
  <li>
    <%= link_to "个人主页", user_path(current_user) %>
  </li>
  <li>
    <%= link_to "那个TA" , root_path %>
  </li>
  <li>
    <%= link_to "Groups", groups_path %>
  </li>
</ul>
