<ul class="nav">
  <li class="active">
    <%= link_to "首页" , root_path %>
  </li>
  <li>
    <%= link_to "个人主页", user_path(current_user) %>
  </li>
  <li>
    <%= link_to "寻找", groups_path %>
  </li>
  <li>
    <%= link_to "聊天室", conversations_path %>
  </li>
  </ul>
