<div class="nav-menu">
  <ul class="container">
    <li class="dropdown">
    <a href="#"  class="dropdown-toggle" data-toggle="dropdown">北京<b class="caret"></b></a>
    <ul class="dropdown-menu" id="swatch-menu">
      <li><a href="../default">Default</a></li>
      <li class="divider"></li>
      <li><a href="../amelia">Amelia</a></li>
      <li><a href="../cerulean">Cerulean</a></li>
      <li><a href="../cyborg">Cyborg</a></li>
      <li><a href="../journal">Journal</a></li>
      <li><a href="../readable">Readable</a></li>
      <li><a href="../simplex">Simplex</a></li>
      <li><a href="../slate">Slate</a></li>
      <li><a href="../spacelab">Spacelab</a></li>
      <li><a href="../spacelabpruce">Spruce</a></li>
      <li><a href="../superhero">Superhero</a></li>
      <li><a href="../united">United</a></li>
    </ul>
    </li>
    <li class="dropdownn"><a href="#" class="dropdown-toggle" data-toggle="dropdown">筛选<b class="caret"></b></a></li>
    <li><a href="#">全部</a></li>
  </ul>
</div><!--navbar navbar-fixed-top-->
